{% extends 'classe/front.html.twig' %}

{% block body %}


    <h1>Create new Post</h1>
    <div class="register-area" style="background-color: rgb(249, 249, 249);">
        <div class="container">
            {{ include('post/_form.html.twig') }}

        </div>
    </div>



{% endblock %}
