{% extends 'base.html.twig' %}

{% block title %}Edit Hebergement{% endblock %}

{% block body %}
    <h4><b>Modifier Hebergement</b></h4>

    {{ include('hebergement/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
