{% extends 'base.html.twig' %}

{% block title %}New Hebergement{% endblock %}

{% block body %}
    <h4><b>Ajouter une Hebergement</b></h4>

    {{ include('hebergement/_form.html.twig') }}
{% endblock %}
