{% extends 'base.html.twig' %}

{% block title %}Edit CategorieHeb{% endblock %}

{% block body %}
    <h4><b>Modifier Categorie</b></h4>

    {{ include('categorie_heb/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
