{% extends 'base.html.twig' %}

{% block title %}New CategorieHeb{% endblock %}

{% block body %}
    <h4><b>Ajouter une Categorie</b></h4>

    {{ include('categorie_heb/_form.html.twig') }}
{% endblock %}
