{% extends 'base.html.twig' %}

{% block title %}Edit Transport{% endblock %}

{% block body %}
    <h1>Edit Transport</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Update</button>
    {{ form_end(form) }}

    <a href="{{ path('transports_index') }}">Back to list</a>
{% endblock %}
