{%for a in aa|filter(aa=>ii==aa.id)%}
{#{%if a.id == ii%}#}
<ul>
    <li>ID est {{ii}}</li>
    <li>username est {{a.username}}</li>
    <li>l'image est <img src="{{asset(a.picture)}}"/></li>
    {#<li>l'image est <img src="{{a.picture}}"/></li>#}
   
</ul>
{#{%endif%}#}
{%endfor%}